# Ignore virtual environment directory
venv/
.venv/
temp_reorder/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore editor-specific files
.vscode/

# Ignore output files from the converter
*.txt
*.md
